<div class="signup-container">
  <mat-card>
	<mat-card-title></mat-card-title>
	<mat-card-content>
	  <form>
		<mat-form-field appearance="fill">
		  <mat-label>Organization Name</mat-label>
		  <mat-select [(value)]="organizationName">
			<mat-option *ngFor="let org of allowedOrganizations" [value]="org" >
			  {{ org }}
			</mat-option>
		  </mat-select>
		</mat-form-field>

		<mat-form-field appearance="fill">
		  <mat-label>Designation</mat-label>
		  <mat-select [(value)]="designation">
			<mat-option *ngFor="let des of designations" [value]="des" >
			  {{ des }}
			</mat-option>
		  </mat-select>
		</mat-form-field>

		<mat-form-field appearance="fill">
		  <mat-label>Birth Date</mat-label>
		  <input matInput [matDatepicker]="picker" [(ngModel)]="birthDate" name="birthDate" required>
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<mat-form-field appearance="fill">
		  <mat-label>City</mat-label>
		  <input matInput [(ngModel)]="city" name="city" required>
		</mat-form-field>

		<mat-form-field appearance="fill">
		  <mat-label>Pincode</mat-label>
		  <input matInput [(ngModel)]="pincode" name="pincode" required>
		</mat-form-field>

		<div *ngIf="signUpError" class="error-message">{{ signUpError }}</div>

		<div class="button-group">
		  <button mat-raised-button color="primary" (click)="back()">Back</button>
		  <button mat-raised-button color="accent" (click)="submit()">Submit</button>
		</div>
	  </form>
	</mat-card-content>
  </mat-card>
</div>